{$APP_DOMAIN} {
  encode zstd gzip

  header {
    -Server
    X-Content-Type-Options "nosniff"
    Referrer-Policy "same-origin"
    Permissions-Policy "camera=(), microphone=(), geolocation=()"
  }

  reverse_proxy frontend:80
}
